services:
  influxdb2:
    image: influxdb:2
    ports:
      - 8086:8086
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME_FILE: /run/secrets/influxdb2-admin-username
      DOCKER_INFLUXDB_INIT_PASSWORD_FILE: /run/secrets/influxdb2-admin-password
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN_FILE: /run/secrets/influxdb2-admin-token
      DOCKER_INFLUXDB_INIT_ORG: docs
      DOCKER_INFLUXDB_INIT_BUCKET: home
    secrets:
      - influxdb2-admin-username
      - influxdb2-admin-password
      - influxdb2-admin-token
    volumes:
      - type: volume
        source: influxdb2-data
        target: /var/lib/influxdb2
      - type: volume
        source: influxdb2-config
        target: /etc/influxdb2
  agent:
    build: ./agent
    environment:
      INFLUX_URL: http://influxdb2:8086
      INFLUX_ORG: docs
      INFLUX_BUCKET: home
      INFLUX_TOKEN: /run/secrets/influxdb2-admin-token
      AGENT_ID: agent01
      AGENT_TARGETS: google.com,youtube.com,rnp.br
      AGENT_DEBUG: "True"
      AGENT_INTERVAL_SECONDS: 3
    secrets:
      - influxdb2-admin-token
    depends_on:
      - influxdb2

  grafana:
      image: grafana/grafana:latest
      container_name: grafana
      ports:
        - "3000:3000"
      environment:
        - GF_SECURITY_ADMIN_USER__FILE=/run/secrets/grafana-admin-username
        - GF_SECURITY_ADMIN_PASSWORD__FILE=/run/secrets/grafana-admin-password
      depends_on:
        - influxdb2
      volumes:
        - grafana-data:/var/lib/grafana
      secrets:
        - grafana-admin-username
        - grafana-admin-password

secrets:
  influxdb2-admin-username:
    file: ./secrets/influxdb_admin_username
  influxdb2-admin-password:
    file: ./secrets/influxdb_admin_password
  influxdb2-admin-token:
    file: ./secrets/influxdb_admin_token
  grafana-admin-username:
    file: ./secrets/grafana_admin_username
  grafana-admin-password:
    file: ./secrets/grafana_admin_password

volumes:
  influxdb2-data:
  influxdb2-config:
  grafana-data: